<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">All Jobs for <%= @company.name %></h1>
  </div>
</div>

<div class="container">
  <table class="table table-hover text-left">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company Name</th>
          <th>Profile</th>
        </tr>
      </thead>
      <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <div class="job_<%= job.id %>">
  <td><%= job.title%></td>
    <td><%= job.company.name %></td>
    <td><button><%= link_to "Profile", company_job_path(@company, job) %></button></td>
  </div>
  </tr>
  <% end %>
</tbody>
</table>
<button type="button" class="btn btn-primary"><%= link_to "Add Job", new_company_job_path %></button>
<button type="button" class="btn btn-primary"><%= link_to "Back to All Companies", companies_path %></button>

</div>
