
  <tr>
    <div class="contact_<%= contact.id %>">
  <td><h4><%= contact.fname %></h4></td>
  <td><h4><%= contact.lname %></h4></td>
  <td><h4><%= contact.position %></h4></td>
  <td><h4><%= contact.email %></h4></td>
  </div>
  </tr>
