<h1>Welcome to the Dashboard!</h1>
<h3>Jobs by Level of Interest</h3>

<% @level_of_interest.each do |k, v| %>
<%= k %>, <%= v %>
<% end %>
<br>
<h3>Top Companies by Average Level of Interest</h3>
<% @companies.each do |k, v| %>
<%= k %>, <%= v %>
<br>
<% end %>

<h3>Sort by location</h3>
<% @jobs.each do |job| %>
<%= job.title %>
<%= job.description %>
<%= job.level_of_interest %>
<%= job.company.name %>
<%= job.category.name %>
<% end %>
