<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">All Companies</h1>
  </div>
</div>



<div class="container">
  <table class="table table-hover text-left">
    <thead>
      <tr>
        <th>Company ID</th>
        <th>Company Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
  <% @companies.each do |company| %>
  <tr>
    <div class="company_<%= company.id %>">
    <!-- <tr onclick="window.location.href = '/companies/<%= company.id %>';"> -->
  <td><%= company.id %></td>
    <td><%= link_to company.name, company_path(company) %></td>
    <td><button type="button" class="btn btn-primary"><%= link_to "Edit", edit_company_path(company) %></button></td>
    <td><button type="button" class="btn btn-danger"><%= link_to "Delete", company_path(company), method: "delete" %></button></td>
  </div>
  </tr>
  <% end %>
</tbody>
</table>
</div>
