<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @category.name %></h1>
  </div>
</div>
<!-- <% @category.jobs.each do |f| %>
<%= f.title %>
<% end %> -->

<div class="container">
  <table class="table table-hover text-left">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
          <th>Level of Interest</th>
          <th>Company</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
  <% @category.jobs.each do |job| %>
  <tr>
    <td><h4><%= job.title %></h4></td>
    <td><h4><%= job.description %></h4></td>
    <td><h4><%= job.level_of_interest %></h4></td>
    <td><h4><%= job.company.name %></h4></td>
    <td><h4><%= job.city %></h4></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
