<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <style>
  /*body {
    background-color: lightblue;
  }*/
  .jumbotron {
    background-color:transparent !important;
}
  </style>

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-inverse p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-inverse bg-inverse">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  </div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
<% if flash[:notice] %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:notice] %>
</div>
<% elsif flash[:error] %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:error] %>
</div>
<% elsif flash[:alert] %>
<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:alert] %>
</div>
  <% end %>
  <% end %>
<div class="container text-center">
<%= yield %>
</div class=container">

</body>
</html>
